<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608149280928-mvmuj3naasd5arn5a92dsj8je5i65ej0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608149280928-mvmuj3naasd5arn5a92dsj8je5i65ej0</string>
	<key>API_KEY</key>
	<string>AIzaSyAO-qW3Dq8yNk3iAvyO3BJ2hGv2I_g3w_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>608149280928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swapsta</string>
	<key>PROJECT_ID</key>
	<string>swapsta-6813b</string>
	<key>STORAGE_BUCKET</key>
	<string>swapsta-6813b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608149280928:ios:5a9515da6da4992b4ad1c5</string>
</dict>
</plist>